.foto {
    display: grid;
    border-radius: .2rem;
    overflow: hidden;
    cursor: pointer;
}

.foto > div {
    grid-area: 1/1;
}

.foto span {
    background: rgba(0, 0, 0, .3);
    color: white;
    font-size: 1rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    grid-area: 1/1;
    display: none;
}

.foto:hover span {
    display: flex;
}